
.productDetails{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.productDetails img{
    height: 7rem;
    width: 7rem;
}
.productDetailsTop{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.payementHistory{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 9rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
    padding: 0;
}