.loginpage{
    
}

.loginpage form{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 1rem;
    margin: auto;
    text-align: start;
    margin-top: 2rem;
    border: 1px solid grey;
    box-shadow: 0 0 10px grey;
    border-radius: 20px;

}
.loginpage form button{
    margin:1rem 0;
}