.navbar{
    height: 4rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
    background-color: grey;
    margin: 0;
    padding: 1rem 2rem;
    padding: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
    align-items: center;
   
    margin-right:3rem ;
}
span{
    font-size: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}