.entrypage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100vw;
    height: 100vh;
    font-size: 3rem;
    background-color: grey;
}